
<ul class="wrapper">
    <li class="box homeGrid" routerLink="/portale/home" routerLinkActive="active">home</li>
    <li class="box lista" routerLink="/portale/gameList" routerLinkActive="active">lista videogiochi</li>
    <div class="box modificaGrid "*ngIf="checkAdmin()">
    <li routerLink="/portale/modificaLista" routerLinkActive="active">modifica lista</li>
   </div>
   <div class="box modificaGrid "*ngIf="!checkAdmin()">
    <li ></li>
   </div>
    <li class="box logout" (click)="logout()">logout</li>

</ul>